<!-- Non-critical scripts loaded with defer for better performance -->
<script defer src='{{ "js/rad-animations.js" | absURL }}'></script>
<script defer src='{{ "js/library/smooth-scroll.polyfills.min.js" | absURL }}'></script>
<script defer src='{{ "js/sticky-header.js" | absURL }}'></script>
<script defer src='{{ "js/smooth-scroll-init.js" | absURL }}'></script>

{{- $bootstrapJs := resources.Get "js/vendor/bootstrap.bundle.min.js" | fingerprint | resources.Copy "/assets/js/vendor/bootstrap.bundle.min.js" }}
<script defer src="{{ $bootstrapJs.RelPermalink }}"></script>

{{- $inlineFooter := resources.Get "js/site-inline.js" | minify | fingerprint | resources.Copy "/assets/js/site-inline.js" -}}
<script defer src="{{ $inlineFooter.RelPermalink }}"></script>


<!-- vercel insights -->
{{- $vercelPageInsights := .Site.Params.analytics.vercelPageInsights }}
{{- $vercelAnalytics := .Site.Params.analytics.vercelAnalytics }}

{{- if $vercelPageInsights }}
<script defer src="/_vercel/speed-insights/script.js"></script>
{{- end }}
{{- if $vercelAnalytics }} 
<script defer src="/_vercel/insights/script.js"></script>
{{- end }}

<!-- Start of Rocket.Chat Livechat Script -->
<div data-bs-theme="light" class="rocketchat-wrapper rocketchat-light-scheme"></div>

<!-- Rocket.Chat logic handled in site-inline.js -->
